body {
    padding: 0;
    margin: 0;
}
    

header {
    background-color: gray;
    height: 100px;
    position: fixed
}


footer {
    background-color: black;
    color: white;
}

.logo {
    float: left;
    height: auto;
    width: auto;
    margin: 10px
}

.language-toggle, .btn-login {
    float: right
}

.btn {
    margin: 5px;

}

main {
    height: 100vh
}
